<div class="container-fluid">
    <div>
        <div class="media">
            <img class="mr-3" src="https://images.pexels.com/photos/3866555/pexels-photo-3866555.png?auto=compress&cs=tinysrgb&w=1600" alt="Generic placeholder image">

            <div class="media-body">
                <h5>Media heading</h5>
                Please send me your request using the form below. I'll get back to you within 48 hours via email or phone. Please check the spam folder if you don't find a message from me. I look forward to meeting you soon!
            </div>
        </div>

        <!-- Registration-Form -->
        <form class="form-control">
            <div class="card">
                <div class="pLogo">
                    <img src="../../assets/images/logoSample.png" class="card-img-top" alt="Contact Logo">
                    <p>Lorem, ipsum dolor.</p>
                    <p>PHOTOGRAPHY</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </form>
    </div>
</div>