<div class="d-flex align-items-center py-5 mh-100">
    <a class="carousel-control-prev text-decoration-none " href="#mycarousel" role="button" data-bs-slide="prev">
        <div class="d-flex flex-column justify-content-center me-2 ms-auto left">PREV<span
                class="fas fa-arrow-left"></span> </div> <span class="sr-only">Previous</span>
    </a>
    <div class="container">
        <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#mycarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#mycarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#mycarousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img src="https://cdn.pixabay.com/photo/2021/07/09/02/29/family-6398107_1280.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-6 ">
                            <div class=" d-flex flex-column justify-content-center my-5 px-3">
                                <p class="review text-center">"I loved working with the company, the people made us
                                    all feel comfortable and at ease during our family photoshoot, and the end result
                                    was a set of beautiful photos that captured our family dynamic perfectly."</p>
                                <div class="name d-flex align-items-center justify-content-center">
                                    <span class="fas fa-minus pe-1"></span>
                                    <p class="m-0">Family Mary & John Doe</p>
                                </div>
                                <p class="job text-center">Family with two kids</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img src="https://cdn.pixabay.com/photo/2018/11/06/14/01/couple-3798371_1280.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-6 ">
                            <div class=" d-flex flex-column justify-content-center my-5 px-3">
                                <p class="review text-center">"Working with this team for my engagement photos was an
                                    amazing experience. The employees took the time to get to know us and the photos
                                    turned out stunning. Highly recommend!"</p>
                                <div class="name d-flex align-items-center justify-content-center">
                                    <span class="fas fa-minus pe-1"></span>
                                    <p class="m-0">Joy & Johanna Smith</p>
                                </div>
                                <p class="job text-center">Engagement photos</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <img src="https://cdn.pixabay.com/photo/2015/07/09/00/29/woman-837156_1280.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="col-lg-6 ">
                            <div class=" d-flex flex-column justify-content-center my-5 px-3">
                                <p class="review text-center">"This team is wonderful. They
                                    were so patient and professional during my modeling shoot, and the photos turned out
                                    amazing. I would definitely recommend them!"
                                </p>
                                <div class="name d-flex align-items-center justify-content-center">
                                    <span class="fas fa-minus pe-1"></span>
                                    <p class="m-0">Miss Jolly</p>
                                </div>
                                <p class="job text-center">Model</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-next text-decoration-none " href="#mycarousel" role="button" data-bs-slide="next">
        <div class="d-flex flex-column justify-content-center right ms-2 me-auto"> NEXT <span
                class="fas fa-arrow-right"></span> </div> <span class="sr-only">Next</span>
    </a>
</div>